<section
  class="landing-section bg-gray-500 h-[calc(100vh-60px)]  w-full text-center overflow-hidden relative mt-[60px]"
>
  <div class="z-10 h-full flex flex-col relative justify-between">
    <!-- <header class=`${textColor}`>
      <h1 class="pt-40 text-5xl font-medium mb-2">{title}</h1>
      <h2 class="text-xl mb-1">{subtitle}</h2>
      <p class="text-[13px]">{description}</p>
    </header> -->
    <footer>
      <slot name="footer" />
    </footer>
  </div>

  <div>
    <slot name="background" />
  </div>
</section>
